.paralax {
    background-image: url(../../../../assets/banner.jpg);
    min-height: 40vh;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
  